@layer components {
  .footer {
    background: var(--color-neutral-090);
    color: var(--color-neutral-030);
    flex-shrink: 0;
    padding: var(--main-padding);
    & a {
      color: var(--color-neutral-020);
      text-decoration: none;
      font-weight: 500;
    }
  }
  @media only screen and (max-width: 767px) {
    .footer {
      padding: var(--main-padding-mobile);
    }
  }
}
