@layer components {
  .footer {
    background: var(--color-neutral-090);
    color: var(--color-neutral-030);
    flex-shrink: 0;
    padding: var(--main-padding);
    display: flex;
    justify-content: space-between;
    & a {
      color: var(--color-neutral-020);
      text-decoration: none;
      font-weight: 500;
    }
  }
  @media only screen and (max-width: 767px) {
    .footer {
      padding: var(--main-padding-mobile);
    }
  }

  @supports (padding: max(0px)) {
    .footer {
      padding-bottom: max(
        var(--main-padding-mobile),
        env(safe-area-inset-bottom)
      );
    }
  }
}
