@layer components {
  .group-list {
    display: flex;
    background: var(--color-neutral-090);
    border-top: 1px solid var(--color-neutral-070);
    border-bottom: 1px solid var(--color-neutral-070);
    max-height: 30rem;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding: var(--main-padding);
    gap: var(--main-padding-mobile);
  }

  @media only screen and (max-width: 767px) {
    .group-list {
      padding: var(--main-padding-mobile);
      gap: var(--main-padding-mobile);
    }
  }

  @media only screen and (min-width: 768px) {
    .group-list {
      max-height: none;
      overflow-y: auto;
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }
}
