@layer components {
  .group {
    margin: 0;
    position: relative;
    width: 100%;
  }

  @media only screen and (min-width: 450px) and (max-width: 767px) {
    .group {
      width: calc(50% - ((1 / 2) * var(--main-padding-mobile)));
    }
  }

  @media only screen and (min-width: 768px) {
    .group {
      width: auto;
    }
  }

  .group-filter {
    cursor: pointer;
    transition: all 0.2s linear;
    width: 100%;
    background: var(--color-neutral-090);
    color: var(--color-neutral-020);
    border: 2px solid var(--color-neutral-050);
    border-radius: 10px;
    display: inline-block;
    outline: none;
    text-align: left;
    padding: var(--spacing-xxs) var(--spacing-s);
    padding-right: 70px;
    font-weight: 600;
    &:hover {
      color: var(--color-neutral-000);
    }
    &:focus-visible {
      color: var(--color-neutral-020);
      border-color: var(--color-focused);
    }
  }

  & .active {
    background: var(--color-green-050);
    border-color: var(--color-green-030);
    color: var(--color-neutral-000);
    &:hover {
      color: var(--color-neutral-000);
    }
    &:focus-visible {
      border-color: var(--color-focused);
      color: var(--color-neutral-000);
    }
  }

  .group-filter--all {
    padding-right: var(--spacing-s) !important;
  }
}
