@layer components {
  .group {
    display: inline-block;
    background: var(--color-neutral-090);
    border: 2px solid var(--color-neutral-060);
    color: var(--color-neutral-030);
    padding: 0.6rem;
    margin: 0.3rem;
    border-radius: 10px;
    cursor: pointer;
    &:hover,
    &:focus {
      background: var(--color-neutral-080);
      color: var(--color-neutral-020);
      outline: none;
    }
  }

  & .active {
    border-color: var(--color-neutral-030);
  }
}
