@layer components {
  .scene {
    background: var(--color-neutral-090);
    color: var(--color-neutral-030);
    display: inline-block;
    border: 2px solid var(--color-neutral-060);
    padding: var(--spacing-xxs) var(--spacing-s);
    margin: 0 var(--spacing-xs) var(--spacing-xs) 0;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    &:hover {
      background: var(--color-neutral-080);
      color: var(--color-neutral-020);
    }

    &:focus {
      background: var(--color-green-040);
      border-color: var(--color-green-030);
      color: var(--color-neutral-000);
    }
  }
}
