@layer layout {
  :root {
    --main-padding: 2rem;
  }

  html,
  body {
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    padding: var(--main-padding);
  }
}
