.hue-group {
   display:inline-block;
   border:3px solid #ccc;
   padding:1rem;
   margin: 0.3rem;
   border-radius: 10px;
   transition: all 0.5s linear;
}

.hue-group--active {
   border-color: red;
}